<div class="row">
    <div class="col-xs-5">
        <h3>Recipe List</h3>
        <div>
           
                <ul *ngFor="let x of data">
                    <button class="list-group-item clearfix" (click)="onSelect(x)">
                       <div class="row">
                           <div class="col-xs-8">
                            <div class="pull-left">
                            <h4 class="list-group-item-heading">{{x.name}}</h4>
                
                        <p class="list-group-item-text">{{x.description}}</p>
                            </div>
                            </div>
                        <div class="col-xs-4">
                        <span class="pull-right"> <img [src]="x.image" alt="" class="img-responsive" style="max-height: 100px"></span>
                    </div>
                </div>
                    </button>
                </ul>
  
        </div>
    </div>

    <div class="col-xs-1">
      
    </div>

    <div class="col-md-6">
        <app-recipe-detail [selectedRecipe]="selecteditem"></app-recipe-detail>
    </div>
</div>