

<div *ngIf="selectedRecipe">
  
   
    <div>Name: {{selectedRecipe.name}}</div>
    <div>Description: {{selectedRecipe.description}}</div>
    <div> <img [src]="selectedRecipe.image" alt="" class="img-responsive" style="max-height: 100px"></div>  

    <div>
        <ol>
            <li *ngFor="let ingredient of selectedRecipe.ingredients">
                <label>{{ingredient.name}}</label>
                <label>{{ingredient.quantity}} - {{ingredient.units}}</label>
                <button type="button" (click)="addToCart(ingredient)">Add to Cart</button>
            </li>
        </ol>
    </div>
</div>
