<div>
    <h1>Grand Total: INR {{calculateTotal()}}</h1>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><h4>Ingredient</h4></th>
        <th scope="col"><h4>Quantity</h4></th>
        <th scope="col"><h4>Unit</h4></th>
        <th scope="col"><h4>Price per unit</h4></th>
        <th scope="col"><h4>Amount</h4></th>
        <th scope="col"><h4>Action</h4></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ingredient of list"> 
        <td><h5>{{ingredient.name}}</h5></td>
        <td><input id="ingredient-quantity" class="form-control" [(ngModel)]="ingredient.quantity" placeholder="Quantity"></td>
        <td><h5>{{ingredient.units}}</h5></td>
        <td><h5> {{ingredient.price}}</h5></td>
        <td><h5> {{ingredient.quantity*ingredient.price}}</h5></td>
        <td><button class="btn btn-warning" (click)="removeFromCart(ingredient)">Remove</button></td>
      </tr>
    </tbody>
  </table>

